<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FaltaUno</title>

    <!-- Only required for desktop -->
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />

    <!-- Always required -->
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />

    <!-- Only required for desktop -->
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="node_modules/ngStomp.js"></script>
    <script src="node_modules/ng-storage.js"></script>
    <script src="node_modules/angular.base64.js"></script>
    <script type="text/javascript">
      var seminario2 = angular.module('seminario2', [
        'ngRoute',
        'mobile-angular-ui',
        'mobile-angular-ui.gestures',
        'ngStomp',
        'ngStorage',
        'naif.base64'
      ]);
      seminario2.config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);
      var ws;
      var userId = "";

      seminario2.run(function($transform, $stomp, $rootScope) {
        window.$transform = $transform;
        
                
      $rootScope.myres = [];
	  ws = $stomp
	  ws.connect('http://localhost:8080/gs-guide-websocket', {});
      });
    </script>

    <script src="route.config.js"></script>
    <script src="controllers/main.controller.js"></script>
    <script src="controllers/login.controller.js"></script>
    <script src="controllers/search.controller.js"></script>
    <script src="controllers/profile.controller.js"></script>
    <script src="controllers/partido.controller.js"></script>

    <script src="services/profile.service.js"></script>
    <script src="services/partido.service.js"></script>
    <script src="services/login.service.js"></script>


    <link rel="stylesheet" href="styles.css" />
    
  </head>
  <body ng-app="seminario2" ng-controller="MainController as main" ui-prevent-touchmove-defaults>

    <!-- Sidebars -->
    <div ng-include="'views/sidebar.html'"
        ui-track-as-search-param="true"
        class="sidebar sidebar-left"></div>

    <div class="app"
        ui-swipe-right="Ui.turnOn('uiSidebarLeft')"
        ui-swipe-left="Ui.turnOff('uiSidebarLeft')">

      <!-- title -->
      <div class="navbar navbar-app navbar-absolute-top">
        <div class="btn-group pull-left">
          <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="fa fa-bars"></i> 
          </div>
        </div>
        <div class="font-20px" style="margin-top: 10px;margin-left: 40vw;"> <i class="fa fa-futbol-o" aria-hidden="true"></i> FaltaUno</div>
      </div>


      <!-- App body -->
      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content backgroundFutbol">
          <ng-view></ng-view>
        </div>
      </div>
    </div>

    <!-- Fixed menu -->
    <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="btn-group justified">
        <div ng-click="main.profile()" class="btn btn-navbar"><i class="fa fa-user fa-navbar font-20px"></i></div>
        <div ng-click="main.search()" class="btn btn-navbar"><i class="fa fa-search fa-navbar font-20px"></i></div>
        <div ng-click="main.partidos()" class="btn btn-navbar"><i class="fa fa-futbol-o fa-navbar font-20px"></i></div>
      </div>
    </div>

    <!-- Modals and Overlays -->


<div id="myModal" class="modalAccept">

  <!-- Modal accepted -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="titulomodal">Aceptado</h2>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <h3 class="okbtn">OK</h3>
    </div>
  </div>

</div>

  </body>
  <script>
        var modal = document.getElementById('myModal');

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];
          var okbtn = document.getElementsByClassName("okbtn")[0];

          // When the user clicks the button, open the modal 
          function openModalUserAccepted() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }
          


          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
  </script>
</html>
