.font-20px {
    font-size: 20px;
} 

.font-35px {
    font-size: 35px;
} 

.font-30px {
    font-size: 30px;
} 

.ROJO {
    color: red;
} 

.AMARILLO {
    color: yellow;
} 

.VERDE {
    color: green;
} 

.display-flex {
    display: flex; 
}

.flex-column {
    flex-direction: column;
}

.flex-justify {
    justify-content: space-around; /* | space-around */
}

.flex-center {
    justify-content: center; 
}

.caracteristicasContainer i,
.shadowIcon {
    text-shadow: 0px 0px 3px #000;
}

.caracteristicasContainer > div > div > div {
    font-size: 20px;
    padding-left: 5px;
    display: inline;
}

.backgroundFutbol {
	background: url(futbol.jpeg);
	color: whitesmoke;
    background-size: cover;
}

.profileContainer, .searchContainer, .partidoContainer, .formContainer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-shadow: 0px 0px 3px #000;
}

.pointer {
    cursor: pointer;
}

.panel-group {
	text-shadow: none;
}

/* The Modal (background) */
.modalAccept {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px; margin: 10px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-footer h3 {
    text-align: center;
    background-color: green;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
    height: 40px;
    cursor: pointer;
    padding-top: 5px;
}

.modal-header h2 {
    margin-top: 8px;
}

.modal-header .close {
    margin-top: 10px;
}

.modalTextoSeleccionado {
    font-weight: bold;
    font-size: 15px;
}

.modalFelicidades {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}