<div ui-content-for="title">
    <span>Login</span>
  </div>
  
  <div class="scrollable">
   <div class="scrollable-content section formContainer">
     
    <form role="form">
      <fieldset>
        <legend style="color:whitesmoke;">Login</legend>
          <div class="form-group has-success has-feedback">
            <label>Email</label>
            <input type="email"
                   ng-model="Login.loginData.email"
                   class="form-control"
                   placeholder="Enter email" required>
          </div>
  
          <div class="form-group">
            <label>Password</label>
            <input type="password" 
                   ng-model="Login.loginData.password"
                   class="form-control"
                   placeholder="Password" required>
          </div>
          
      </fieldset>
      <hr>
  
      <img ng-if="Login.loading" style="width: 40px;" src="../loading.gif" />
      <button class="btn btn-primary btn-block" ng-disabled="!(Login.loginData.email && Login.loginData.password)" ng-click="Login.login()">
        Login
      </button>
      
    </form>
   </div>
  </div>