<div class="scrollable">
  <div class="scrollable-content section partidoContainer">

    <img ng-if="Partido.loading" style="width: 40px;" src="../loading.gif" />
    
    <div ng-if="!Partido.loading">
      <!-- Si no hay partido creado, muestro el form para crear partido -->
      <div ng-if="!Partido.partidoCreado">

        <h1>Crear Partido</h1>
        <form role="form">
          <fieldset>
            <div class="form-group has-success has-feedback">
              <div>{{Partido.nuevoPartido.horario | date: "HH:mm"}}</div>
              <label>Horario</label>
              <input type="time"
                      ng-model="Partido.horario"
                      class="form-control"
                      placeholder="Horario">
            </div>
    
            <div class="form-group has-success has-feedback">
              <label>Dia</label>
              <input type="date"
                      ng-model="Partido.dia"
                      class="form-control"
                      placeholder="Dia">
            </div>

            <div class="form-group has-success has-feedback">
              <label>Direccion</label>
              <input type="text"
                      ng-model="Partido.nuevoPartido.direccion"
                      class="form-control"
                      placeholder="Direccion">
            </div>

            <div class="form-group has-success has-feedback">
              <label>Tipo</label>
              <select ng-model="Partido.nuevoPartido.tipo" class="form-control">
                <option value="">Elija un tipo de partido...</option>
                <option value="5">5</option>
                <option value="7">7</option>
                <option value="9">9</option>
                <option value="11">11</option>
              </select> 
            </div>

            <div class="form-group has-success has-feedback">
              <label>Superficie</label>
              <select ng-model="Partido.nuevoPartido.superficie" class="form-control">
                <option value="">Elija un tipo de superficie...</option>
                <option value="Sintetico">Sintético</option>
                <option value="Cemento">Cemento</option>
                <option value="Cesped">Cesped</option>
                <option value="Madera">Madera</option>
              </select> 
            </div>

            <label>Características buscadas</label>
            <div class="display-flex flex-justify caracteristicasContainer">
              <div class="display-flex flex-column">
                <div><i class="fa fa-square fa-navbar font-30px pointer" 
                  ng-class="Partido.nuevoPartido.habilidades.ataja" ng-click="Partido.editHabilidad(Partido.nuevoPartido.habilidades.ataja, 'ataja')"></i> <div>Ataja</div></div>
                <div><i class="fa fa-square fa-navbar font-30px pointer" 
                  ng-class="Partido.nuevoPartido.habilidades.defensa" ng-click="Partido.editHabilidad(Partido.nuevoPartido.habilidades.defensa, 'defensa')"></i> <div>Defensa</div></div>
                <div><i class="fa fa-square fa-navbar font-30px pointer" 
                  ng-class="Partido.nuevoPartido.habilidades.ataque" ng-click="Partido.editHabilidad(Partido.nuevoPartido.habilidades.ataque, 'ataque')"></i> <div>Ataque</div></div>
              </div>
              <div class="display-flex flex-column">
                <div><i class="fa fa-square fa-navbar font-30px pointer"  
                  ng-class="Partido.nuevoPartido.habilidades.estado" ng-click="Partido.editHabilidad(Partido.nuevoPartido.habilidades.estado, 'estado')"></i> <div>Estado</div></div>
                <div><i class="fa fa-square fa-navbar font-30px pointer" 
                  ng-class="Partido.nuevoPartido.habilidades.habilidad" ng-click="Partido.editHabilidad(Partido.nuevoPartido.habilidades.habilidad, 'habilidad')"></i> <div>Habilidad</div></div>
                <div><i class="fa fa-square fa-navbar font-30px pointer" 
                  ng-class="Partido.nuevoPartido.habilidades.tactica" ng-click="Partido.editHabilidad(Partido.nuevoPartido.habilidades.tactica, 'tactica')"></i> <div>Tactica</div></div>
              </div>
            </div> 
          </fieldset>
      
          <button class="btn btn-primary btn-block" ng-click="Partido.crearPartido()">
            Crear
          </button>
        </form>

      </div>


      <!-- Si hay partido creado y no acepte ninguna postulacion, muestro los postulados a mi partido -->
      <div ng-if="Partido.partidoCreado && !Partido.postulacionAceptada">

        <h1>Postulados</h1>
        <div class="panel-group" ui-state="myAccordion">
          <div class="panel panel-default" ng-repeat="p in Partido.postulados">
            <div class="panel-heading pointer" ui-set="{'myAccordion': p.id}">
              <h4 class="panel-title">
                <div>{{p.username}}</div>
              </h4>
            </div>
            <div ui-if="myAccordion == '{{p.id}}'">
              <div class="panel-body" style="color: black;">

                    <div>

                      <div class="font-35px display-flex flex-center">
                          <i class="fa AMARILLO shadowIcon" ng-class="Partido.getStar(1, p.reputacion)" aria-hidden="true"></i>
                          <i class="fa AMARILLO shadowIcon" ng-class="Partido.getStar(2, p.reputacion)" aria-hidden="true"></i>
                          <i class="fa AMARILLO shadowIcon" ng-class="Partido.getStar(3, p.reputacion)" aria-hidden="true"></i>
                          <i class="fa AMARILLO shadowIcon" ng-class="Partido.getStar(4, p.reputacion)" aria-hidden="true"></i>
                          <i class="fa AMARILLO shadowIcon" ng-class="Partido.getStar(5, p.reputacion)" aria-hidden="true"></i>
                      </div>

                      <div class="form-group row font-20px">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                        <div class="col-sm-10">{{p.email}}</div>
                      </div>
                      <div class="form-group row font-20px">
                        <label for="edad" class="col-sm-2 col-form-label col-form-label-lg">Edad</label>
                        <div class="col-sm-10">{{p.edad}}</div>
                      </div>
                
                      <h2>Características</h2>
                      <div class="display-flex flex-justify caracteristicasContainer">
                        <div class="display-flex flex-column">
                          <div><i class="fa fa-square fa-navbar font-30px" 
                            ng-class="p.ataja"></i> <div>Ataja</div></div>
                          <div><i class="fa fa-square fa-navbar font-30px" 
                            ng-class="p.defensa"></i> <div>Defensa</div></div>
                          <div><i class="fa fa-square fa-navbar font-30px" 
                            ng-class="p.ataque"></i> <div>Ataque</div></div>
                        </div>
                        <div class="display-flex flex-column">
                          <div><i class="fa fa-square fa-navbar font-30px" 
                            ng-class="p.estado"></i> <div>Estado</div></div>
                          <div><i class="fa fa-square fa-navbar font-30px" 
                            ng-class="p.habilidad"></i> <div>Habilidad</div></div>
                          <div><i class="fa fa-square fa-navbar font-30px" 
                            ng-class="p.tactica"></i> <div>Tactica</div></div>
                        </div>
                      </div> 

                      <br/>

                      <div class="form-group row font-20px display-flex flex-center" ng-if="p.video">
                        <video controls>
                          <source type="video/mp4" src="{{'data:video/mp4;base64,' + p.video}}">
                        </video>
                      </div>

                      <button class="btn btn-primary btn-block" ng-click="Partido.aceptarPostulacion(p)">
                        Aceptar Postulacion
                      </button>
                    </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Si hay partido creado y acepte postulacion, muestro los datos del partido y del postulado para calificarlo -->
      <div ng-if="Partido.partidoCreado && Partido.postulacionAceptada">
        
        <h1> Calificar Jugador</h1>
        <h3>Elegiste a <b>{{Partido.jugadorAceptado.username}}</b> para tu partido del dia <b>{{Partido.partidoActual.dia}}</b> a las <b>{{Partido.partidoActual.horario}}</b> hs. en <b>{{Partido.partidoActual.direccion}}</b></h3>



          <div class="form-group row font-20px">
            <label for="edad" class="col-sm-2 col-form-label col-form-label-lg">Edad</label>
            <div class="col-sm-10">{{Partido.jugadorAceptado.edad}}</div>
          </div>
    
          <h2>Características</h2>
          <div class="display-flex flex-justify caracteristicasContainer">
            <div class="display-flex flex-column">
              <div><i class="fa fa-square fa-navbar font-30px" 
                ng-class="Partido.jugadorAceptado.ataja"></i> <div>Ataja</div></div>
              <div><i class="fa fa-square fa-navbar font-30px" 
                ng-class="Partido.jugadorAceptado.defensa"></i> <div>Defensa</div></div>
              <div><i class="fa fa-square fa-navbar font-30px" 
                ng-class="Partido.jugadorAceptado.ataque"></i> <div>Ataque</div></div>
            </div>
            <div class="display-flex flex-column">
              <div><i class="fa fa-square fa-navbar font-30px" 
                ng-class="Partido.jugadorAceptado.estado"></i> <div>Estado</div></div>
              <div><i class="fa fa-square fa-navbar font-30px" 
                ng-class="Partido.jugadorAceptado.habilidad"></i> <div>Habilidad</div></div>
              <div><i class="fa fa-square fa-navbar font-30px" 
                ng-class="Partido.jugadorAceptado.tactica"></i> <div>Tactica</div></div>
            </div>
          </div> 

          <br/>

          <div class="form-group row font-20px">
            <h2 class="col-sm-2 col-form-label col-form-label-lg" style="float: left;"> Calificar: </h2>
            <div class="col-sm-10" style="color: black; margin-top: 5px;">          
              <select ng-model="Partido.calificacionParaJugador">
                <option value="">Seleccione una calificacion...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <button class="btn btn-primary btn-block" ng-disabled="!Partido.calificacionParaJugador" ng-click="Partido.calificarJugador()">
             Calificar
          </button>
      </div>

    </div>

  </div>
</div>